body{
    font-family: Verdana;
    text-align: center;
}
#myButton{
    font-size: 3em;
    padding: 5px 25px;
    border-radius: 5px;
    background-color: rgb(131, 194, 240);
}
.myLabels{
    font-size: 3em;
}